<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<nav class="sidebar" th:fragment="sidebar">
			<ul class="sidebar__items">
				<li class="sidebar__item"><a href="#" class="sidebar__link">Autotestovi</a></li>
						
				<li class="sidebar__item"><a href="#" class="sidebar__link">Prodaja</a></li>
				
				<li class="sidebar__item"><a href="#" class="sidebar__link">Auto oglasi</a></li>
						
				<li class="sidebar__item"><a href="#" class="sidebar__link">Auto placevi</a></li>
						
				<li class="sidebar__item"><a href="#" class="sidebar__link">Uvoz automobila</a></li>
						
			</ul>
			<div class="copyright">
				<h4>WWM &copy; 2019. All rights reserved.</h4>
			</div>
		</nav>
	
	</body>
</html>